<p>Here's the vpn detail template!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>
<h1><a href="#!/vpns/{{$ctrl.vpn.company.id}}">{{$ctrl.vpn.company.name}}</a></h1>

<!-- TODO: Create a custom directive that can display a single VPN -->

<ul>
  <li ng-repeat="category in $ctrl.vpn.getCategoryList()">
    {{category}}:
    <ul>
      <li ng-repeat="feature in $ctrl.vpn.getFeaturesForCategory(category)">
        {{feature.name}} = {{feature.value ? feature.value : "unknown"}}
      </li>
    </ul>
  </li>
</ul>
