/* app css stylesheet */

/* Color scheme
 * http://paletton.com/#uid=63-0u0kuu++iA+toB+XMn+VZCJw
 * http://paletton.com/#uid=63-0h1kuu++00YSoB+XMn+V++d1kuu++00YSoB+XMn+V++d1kuu++00YSoB+XMn+V++d1kuu++00YSoB+XMn+V++d1
 */

td, th {
  text-align: center;
  padding: 0 1em 0 1em;
}

body {
  padding: 2em;
  background-color: white;
  color: #1e90ff;
}

.topmost-element {
  padding-left: 3.5em;
}

#vpn-table-container {
  overflow: scroll;
}

.topsvpnFeature {
  overflow: hidden;
  height: auto;
  background-color: #1e90ff;
  color: white;
  border: 1px solid white;
}

a:link, a:visited {
  text-decoration: none;
  color: #1e90ff;
  border-bottom: 2px solid #1e90ff;
}
a:hover, a:active {
  text-decoration: none;
  color: #1e90ff;
  border-bottom: 5px solid #1e90ff;
}

.topsvpnFeatureTitleAndControl {
  max-width: 20%;
  float: left;
}
.topsvpnFeatureTitleAndControl h3 {
  text-align: center;
}
.topsvpnFeatureValueList {
  max-width: 70%;
  float: right;
}
