<h1 class="topmost-element"><a href="#!/vpns">TOPS VPN</a></h1>

<div class="vpnSelectorList">
  <div class="vpnSelectorCompanyList">
    Companies: <span ng-repeat="vpn in $ctrl.vpns"><a href="#!/vpns/{{vpn.id}}">{{vpn.getFeatureValue("company", "name")}}</a> </span>
  </div>
  <div ng-repeat="(categoryName, featureName) in $ctrl.featuresByCategory" class="vpnSelectorCategory">
    <h2>{{categoryName}}</h2>
    <vpn-feature
     ng-repeat="featureName in $ctrl.featuresByCategory[categoryName]"
     category="{{categoryName}}" feature="{{featureName}}"></vpn-feature>
  </div>
</div>
