
<md-toolbar layout="row" >
  <md-button href="#!/vpns">TOPS VPN</md-button>
</md-toolbar>

<div flex layout="row">
  <md-content flex id="content">

    <md-chips ng-model="$ctrl.vpns" readonly="true">
      <md-chip-template>
        {{$chip.name}}
        <a href="#!/vpns/{{$chip.id}}"><md-icon md-font-set="material-icons">vpn_lock</md-icon></a>
      </md-chip-template>
    </md-chips>

    <md-list flex="">
      <div ng-repeat="(categoryName, featureIdList) in $ctrl.featuresByCategory">
        <md-subheader class="md-no-sticky">
          <h2>{{categoryName}}</h2>
        </md-subheader>
        <md-list-item class="md-2-line" ng-repeat="featureId in featureIdList" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>{{featureId}}</h3>
            <p>{{$ctrl.featureValuesById[featureId]}}</p>
          </div>
        </md-list-item>
      </div>
    </md-list>

  </md-content>
</div>
