<div>
  <p>Here's the vpn-list template lol</p>

  <!-- <table border=1 padding=3>
    <tr><th ng-repeat="category in $ctrl.categories" colspan="{{category.fieldcount}}">{{category.name}}</th></tr>
    <tr><th ng-repeat="field in $ctrl.fields track by $index">{{field}}</th></tr>
    <tr ng-repeat="vpn in $ctrl.vpns"><th ng-repeat="(category, field) in vpn"></th></tr>
  </table> -->

  <ul class="vpns">
    <li ng-repeat="vpn in $ctrl.vpns" class="vpn-item">
      <a href="#!/vpns/{{vpn.id}}">{{vpn.getFeatureValue('company','name')}}</a>
    </li>
  </ul>
    <!-- <tr>
      <th ng-repeat="" -->



</div>
